openapi: 3.2.0
info:
  title: Colossal Biosciences Content API (WordPress REST wp/v2) Media API
  version: wp/v2
  summary: 'Public read surface of colossal.com content: news posts, pages, media, taxonomies, comments and site search.'
  description: 'Colossal Biosciences publishes colossal.com on WordPress, which exposes the WordPress REST API at https://colossal.com/wp-json/. The wp/v2 namespace is anonymously readable and returns the company''s newsroom posts, marketing pages, media library, categories, tags, comments and a site-wide search endpoint as JSON.


    This document was DERIVED mechanically by API Evangelist from the route-discovery document served at https://colossal.com/wp-json/ on 2026-08-02 - every path, method and parameter below is taken verbatim from that descriptor. Colossal Biosciences does not publish an OpenAPI definition of its own, and this is not a product API: it is the content API the CMS exposes. Write operations exist on these routes but require authentication (WordPress Application Passwords over HTTP Basic).'
  contact:
    name: Colossal Biosciences
    url: https://colossal.com/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://colossal.com/wp-json/
  x-derived-on: '2026-08-02'
  x-provider-published: false
servers:
- url: https://colossal.com/wp-json
  description: Production
tags:
- name: Media
paths:
  /wp/v2/media:
    get:
      operationId: getMedia
      summary: GET /wp/v2/media
      tags:
      - Media
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published after a given ISO8601 compliant date.
      - name: modified_after
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified after a given ISO8601 compliant date.
      - name: author
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to posts assigned to specific authors.
      - name: author_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes posts assigned to specific authors.
      - name: before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts published before a given ISO8601 compliant date.
      - name: modified_before
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: Limit response to posts modified before a given ISO8601 compliant date.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
        description: Sort collection by post attribute.
      - name: parent
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to items with particular parent IDs.
      - name: parent_exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to all items except those of a particular parent ID.
      - name: search_columns
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
        description: Array of column names to be searched.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      - name: status
        in: query
        required: false
        schema:
          type: array
          default: inherit
          items:
            enum:
            - inherit
            - private
            - trash
            type: string
        description: Limit result set to posts assigned one or more statuses.
      - name: media_type
        in: query
        required: false
        schema:
          type: array
          default: null
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
        description: Limit result set to attachments of a particular media type or media types.
      - name: mime_type
        in: query
        required: false
        schema:
          type: array
          default: null
          items:
            type: string
        description: Limit result set to attachments of a particular MIME type or MIME types.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
    post:
      operationId: createMedia
      summary: POST /wp/v2/media
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                meta:
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                caption:
                  type: object
                  properties:
                    raw:
                      description: Caption for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML caption for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The attachment caption.
                description:
                  type: object
                  properties:
                    raw:
                      description: Description for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML description for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                  description: The attachment description.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '403':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
      security:
      - applicationPassword: []
  /wp/v2/media/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: WordPress media identifier.
    get:
      operationId: getMediaId
      summary: GET /wp/v2/media/{id}
      tags:
      - Media
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type:
                - array
                - object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
    post:
      operationId: createMediaId
      summary: POST /wp/v2/media/{id}
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                meta:
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                caption:
                  type: object
                  properties:
                    raw:
                      description: Caption for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML caption for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The attachment caption.
                description:
                  type: object
                  properties:
                    raw:
                      description: Description for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML description for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                  description: The attachment description.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '403':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
      security:
      - applicationPassword: []
    put:
      operationId: replaceMediaId
      summary: PUT /wp/v2/media/{id}
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                meta:
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                caption:
                  type: object
                  properties:
                    raw:
                      description: Caption for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML caption for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The attachment caption.
                description:
                  type: object
                  properties:
                    raw:
                      description: Description for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML description for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                  description: The attachment description.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '403':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
      security:
      - applicationPassword: []
    patch:
      operationId: updateMediaId
      summary: PATCH /wp/v2/media/{id}
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, in the site's timezone.
                date_gmt:
                  type:
                  - string
                  - 'null'
                  format: date-time
                  description: The date the post was published, as GMT.
                slug:
                  type: string
                  description: An alphanumeric identifier for the post unique to its type.
                status:
                  type: string
                  enum:
                  - publish
                  - future
                  - draft
                  - pending
                  - private
                  - acf-disabled
                  description: A named status for the post.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                author:
                  type: integer
                  description: The ID for the author of the post.
                featured_media:
                  type: integer
                  description: The ID of the featured media for the post.
                comment_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not comments are open on the post.
                ping_status:
                  type: string
                  enum:
                  - open
                  - closed
                  description: Whether or not the post can be pinged.
                meta:
                  type: object
                  properties:
                    _acf_changed:
                      type: boolean
                      title: ''
                      description: ''
                      default: false
                  description: Meta fields.
                template:
                  type: string
                  description: The theme file to use to display the post.
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
                caption:
                  type: object
                  properties:
                    raw:
                      description: Caption for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML caption for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The attachment caption.
                description:
                  type: object
                  properties:
                    raw:
                      description: Description for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML description for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                  description: The attachment description.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '403':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
      security:
      - applicationPassword: []
    delete:
      operationId: deleteMediaId
      summary: DELETE /wp/v2/media/{id}
      tags:
      - Media
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: false
                  description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '403':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
      security:
      - applicationPassword: []
  /wp/v2/media/{id}/edit:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: WordPress media identifier.
    post:
      operationId: createMediaIdEdit
      summary: POST /wp/v2/media/{id}/edit
      tags:
      - Media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                src:
                  type: string
                  format: uri
                  description: URL to the edited image file.
                modifiers:
                  type: array
                  items:
                    description: Image edit.
                    type: object
                    required:
                    - type
                    - args
                    oneOf:
                    - title: Flip
                      properties:
                        type:
                          description: Flip type.
                          type: string
                          enum:
                          - flip
                        args:
                          description: Flip arguments.
                          type: object
                          required:
                          - flip
                          properties:
                            flip:
                              description: Flip direction.
                              type: object
                              required:
                              - horizontal
                              - vertical
                              properties:
                                horizontal:
                                  description: Whether to flip in the horizontal direction.
                                  type: boolean
                                vertical:
                                  description: Whether to flip in the vertical direction.
                                  type: boolean
                    - title: Rotation
                      properties:
                        type:
                          description: Rotation type.
                          type: string
                          enum:
                          - rotate
                        args:
                          description: Rotation arguments.
                          type: object
                          required:
                          - angle
                          properties:
                            angle:
                              description: Angle to rotate clockwise in degrees.
                              type: number
                    - title: Crop
                      properties:
                        type:
                          description: Crop type.
                          type: string
                          enum:
                          - crop
                        args:
                          description: Crop arguments.
                          type: object
                          required:
                          - left
                          - top
                          - width
                          - height
                          properties:
                            left:
                              description: Horizontal position from the left to begin the crop as a percentage of the image width.
                              type: number
                            top:
                              description: Vertical position from the top to begin the crop as a percentage of the image height.
                              type: number
                            width:
                              description: Width of the crop as a percentage of the image width.
                              type: number
                            height:
                              description: Height of the crop as a percentage of the image height.
                              type: number
                  description: Array of image edits.
                rotation:
                  type: integer
                  minimum: 0
                  maximum: 360
                  description: 'The amount to rotate the image clockwise in degrees. DEPRECATED: Use `modifiers` instead.'
                x:
                  type: number
                  minimum: 0
                  maximum: 100
                  description: 'As a percentage of the image, the x position to start the crop from. DEPRECATED: Use `modifiers` instead.'
                y:
                  type: number
                  minimum: 0
                  maximum: 100
                  description: 'As a percentage of the image, the y position to start the crop from. DEPRECATED: Use `modifiers` instead.'
                width:
                  type: number
                  minimum: 0
                  maximum: 100
                  description: 'As a percentage of the image, the width to crop the image to. DEPRECATED: Use `modifiers` instead.'
                height:
                  type: number
                  minimum: 0
                  maximum: 100
                  description: 'As a percentage of the image, the height to crop the image to. DEPRECATED: Use `modifiers` instead.'
                caption:
                  type: object
                  properties:
                    raw:
                      description: Caption for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML caption for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The attachment caption.
                description:
                  type: object
                  properties:
                    raw:
                      description: Description for the attachment, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML description for the attachment, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      readonly: true
                  description: The attachment description.
                title:
                  type: object
                  properties:
                    raw:
                      description: Title for the post, as it exists in the database.
                      type: string
                      context:
                      - edit
                    rendered:
                      description: HTML title for the post, transformed for display.
                      type: string
                      context:
                      - view
                      - edit
                      - embed
                      readonly: true
                  description: The title for the post.
                post:
                  type: integer
                  description: The ID for the associated post of the attachment.
                alt_text:
                  type: string
                  description: Alternative text to display when attachment is not displayed.
              required:
              - src
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '403':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
      security:
      - applicationPassword: []
  /wp/v2/media/{id}/post-process:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: WordPress media identifier.
    post:
      operationId: createMediaIdPostProcess
      summary: POST /wp/v2/media/{id}/post-process
      tags:
      - Media
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                  - create-image-subsizes
              required:
              - action
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/WpError'
        '401':
          $ref: '#/components/responses/WpError'
        '403':
          $ref: '#/components/responses/WpError'
        '404':
          $ref: '#/components/responses/WpError'
      security:
      - applicationPassword: []
components:
  schemas:
    WpError:
      type: object
      description: The standard WordPress REST API error envelope.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
      required:
      - code
      - message
  responses:
    WpError:
      description: WordPress REST API error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/WpError'
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords, advertised by the site at https://colossal.com/wp-json/ under authentication.application-passwords; authorization endpoint https://colossal.com/wp-admin/authorize-application.php. Read operations on wp/v2 are anonymous.
